.chart {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 32px;
  grid-auto-flow: dense;
}

.lineGraph {
    border-radius: 5px;
    background-color: gray;
    padding: 100px;
    margin: 10px;
}

.pieChart {
    border-radius: 5px;
    background-color: gray;
    padding: 100px;
    margin: 10px;
}