/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navContainerx {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .navContainer {
        text-align: center;
        border-radius: 40px;
        left: 0;
		justify-content: center;
		align-items: center;
        width: 100%;
	}

	.navItem {
		width: 100%;
		left: 0;
		text-align: center;
	}
	.navLinks {
        width: 80%;
        left: 0;
        margin: 0;
        padding: 0;
		font-size: 25px;
		text-align: center;
		justify-content: center;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.navBar {
		text-align: center;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.navItem {
		width: 100%;
		left: 0;
		text-align: center;
	}
	.navLinks {
		width: 100%;
		left: 0;
		font-size: 50px;
		text-align: center;
		justify-content: center;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.navBar {
		text-align: center;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.navItem {
		width: 100%;
		left: 0;
		text-align: center;
	}
	.navLinks {
		width: 100%;
		left: 0;
		font-size: 50px;
		text-align: center;
		justify-content: center;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.navBar {
		text-align: center;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.navItem {
		width: 100%;
		left: 0;
		text-align: center;
	}
	.navLinks {
		width: 100%;
		left: 0;
		font-size: 50px;
		text-align: center;
		justify-content: center;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.navBar {
		text-align: center;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.navItem {
		width: 100%;
		left: 0;
		text-align: center;
	}
	.navLinks {
		width: 100%;
		left: 0;
		font-size: 50px;
		text-align: center;
		justify-content: center;
	}
}
