* {
	text-align: center;
	justify-content: center;
	align-content: center;
}

.App {
	margin: 20px;
}

.appHolder {
	background-color: rgb(226, 225, 225);
	border-radius: 5px;
	padding: 20px;
}

.card {
	background-color: rgb(128, 126, 126);
}
