.App {
	text-align: center;
	margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* @keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

@media (min-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	.world {
		border-radius: 13px 13px;
		margin: auto;
		padding: 10px;
		background: #ccc;
		display: block;
	}

	.wCase {
		padding: auto;
	}

	.wChart {
		height: 250px;
		width: 250px;
		background-color: #bbb;
		border-radius: 50%;
		float: right;
	}

	.confirmed {
		border-radius: 13px 13px;
		width: 100px;
		height: 85px;
		margin: 3px;
		padding: 0;
	}
	.recovered {
		border-radius: 13px 13px;
		width: 100px;
		height: 85px;
		margin: 3px;
		padding: 0;
	}
	.death {
		border-radius: 13px 13px;
		width: 100px;
		height: 85px;
		margin: 3px;
		padding: 0;
	}

	.country {
		border-radius: 20px 20px;
		margin: 20px;
		padding: 0;
		margin-bottom: 100px;
	}

	.chart {
		
	}
}

@media (min-width: 640px) {
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
	.world {
		border-radius: 13px 13px;
		margin: auto;
		padding: 50px;
		background: #ccc;
		display: block;
	}

	.wCase {
		position: relative;
		margin: 10px;
		height: 400px;
	}

	.wChart {
		position: relative;
		margin: 10px;
	}

	.confirmed {
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
		position: relative;
	}
	.recovered {
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
		position: relative;
	}
	.death {
		position: relative;
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
	}

	.country {
		border-radius: 20px 20px;
		margin: 20px;
		padding: 0;
		box-shadow: 5px 8px #ccc;
	}

	.chart {
		text-align: center;
		height: 250px;
		width: 250px;
		background-color: #bbb;
		border-radius: 50%;
		float: right;
	}
}
@media (min-width: 641px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	.world {
		border-radius: 13px 13px;
		margin: auto;
		padding: 50px;
		background: #ccc;
		display: flex;
	}

	.wCase {
		margin: auto;
		padding: auto;
	}

	.wChart {
		margin: auto;
		padding: auto;
	}

	.confirmed {
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
	}
	.recovered {
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
	}
	.death {
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
	}

	.country {
		border-radius: 20px 20px;
		margin: 20px;
		padding: 0;
		box-shadow: 5px 8px #ccc;
	}

	.chart {
		text-align: center;
		height: 250px;
		width: 250px;
		background-color: #bbb;
		border-radius: 50%;
		float: right;
	}
}
@media (min-width: 961px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.world {
		border-radius: 13px 13px;
		margin: auto;
		padding: 50px;
		background: #ccc;
		display: flex;
	}

	.wCase {
		margin: auto;
		padding: auto;
	}

	.wChart {
		margin: auto;
		padding: auto;
	}

	.confirmed {
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
	}
	.recovered {
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
	}
	.death {
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
	}

	.country {
		border-radius: 20px 20px;
		margin: 20px;
		padding: 0;
		box-shadow: 5px 8px #ccc;
	}

	.chart {
		text-align: center;
		height: 250px;
		width: 250px;
		background-color: #bbb;
		border-radius: 50%;
		float: right;
	}
}

@media (min-width: 1025px) {
	.world {
		border-radius: 13px 13px;
		margin: auto;
		padding: 50px;
		background: #ccc;
		display: flex;
	}

	.wCase {
		margin: auto;
		padding: auto;
	}

	.wChart {
		margin: auto;
		padding: auto;
	}

	.confirmed {
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
	}
	.recovered {
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
	}
	.death {
		border-radius: 13px 13px;
		margin: 3px;
		padding: 0;
	}

	.country {
		border-radius: 20px 20px;
		margin: 20px;
		padding: 0;
		box-shadow: 5px 8px #ccc;
	}

	.chart {
		text-align: center;
		height: 250px;
		width: 250px;
		background-color: #bbb;
		border-radius: 50%;
		float: right;
	}
}

/* @media only screen and (max-width: 600px) {
	.death {
		height: 30px;
	}
	.recovered {
		height: 30;
	}
	.death {
		height: 30%;
	}
} */

.countryData {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.countryConfirmed {
	float: left;
	width: 100px;
}

.countryRecovered {
	float: right;
	width: 100px;
}

.countryDeath {
	margin: 0 auto;
	width: 100px;
}

.countryData div {
	display: inline-block;
}

.countryConfirmed span {
	display: block;
}

.countryDeath span {
	display: block;
}
.countryRecovered span {
	display: block;
}

.handlerC {
	font: 12px bold rgb(233, 167, 25);
}
.handlerD {
	font: 12px bold rgb(226, 11, 11);
}
.handlerR {
	font: 12px bold rgb(51, 223, 17);
}
